

<div class="col-9 chat_div" id=<%= @c.id %> >
    <div class=chat_top>
        <input type=button name=close_chat value=close>
    </div>
    <ul class="message_box">
        <% @c.messages.each do |m|%>
            <% if m.from?.username == @user.username%>
                <li class=sent_message>

                    <p class=message_text> <%= m.text%> </p>
                </li>
            <% else %>
                <li class=received_message>

                    <p class=message_text> <%= m.text%> </p>
                </li>
            <% end %>
        <% end %>
    </ul>

    <textarea class="input_box"></textarea>

</div>