
<div class="col-12 header">
<h3> Hello <%= @user.username %> </h3>
</div>

<div class="col-9 chat_container">
    <%= render partial: "chat", locals: {user:@user, chats:@chats} %>
</div>
<%= render partial: "chats_index", locals: { chats: @chats } %>
