<% if @chats %> <!-- ho aggiunto un controllo perché nel caso di show_profile non passo le chat -->

    <% @chats.each do |c| %>
        <div class="col-12 chat_div" id=<%= c.id %> >
            <div class="col-12 list-group-item list-group-item-action active chat_top">
                <input type=button name="close_chat"  value=close>
            </div>
            <ul class="jumbotron message_box">
                <% c.messages.each do |m|%>
                    <% if m.from?.username == @user.username%>
                        <li class="sent_message">

                            <p class=message_text> <%= m.text%> </p>
                        </li>
                    <% else %>
                        <li class="received_message">

                            <p class=message_text> <%= m.text%> </p>
                        </li>
                    <% end %>
                <% end %>
            </ul>
            <textarea class="form-control input_box"></textarea>
        </div>
    <%end%>
<% end %>