<!-- Mostro la lista di tutti gli Ads e il link al profilo del proprietario dell'annuncio -->
<div class="center">
  <h3>Ads</h3> 
  <p>
  <%= render partial: "./ads_list", locals: { ads: @ads, view: "list" } %>
</div>
