<h3> Books found </h3>

<% books = JSON.parse(@res.body)['items']%>
<% books.each do |book| %>
    <%= book['volumeInfo']['title']%>
    <br>
<% end %>

<div class="col-12 center">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="collapse navbar-collapse center" id="navbarColor03">
        <ul class="navbar-center navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home</a>
          </li>
        <ul>
      </div>
    </nav>
</div>