
.chat_div{
    display:none;
    /*width:100%;*/
    height:100%;
    .chat_top{
        height:40px;
        /*background-color: rgb(0, 0, 0);*/
        padding:0;
        margin-bottom:0;

        input{
            float:right;
            height:100%;
            border:0;
            background-color: inherit;
            color:white;
            font-size: 24px;
        }
        /*
        input:hover{
            background-color:white;
            color:black;
        }
        */
    }
    .message_box{

        padding:0;
        border:2px solid black;
        height:70%;
        list-style-type: none;

        overflow:auto;

        .sent_message{
            border: 2px solid black;
            padding-top:3px;
            padding-bottom:5px;
            padding-left:20px;
            padding-right:5px;
            float:left;
            clear:both;

            margin-left:20px;
            margin-top:15px;
            border-radius: 5px 30px 30px 60px;
        }
        .received_message{
            border: 2px solid black;
            padding-top:3px;
            padding-bottom:5px;
            padding-left:5px;
            padding-right:20px;
            float:right;
            clear:both;

            margin-right:20px;
            margin-top:15px;
            border-radius: 30px 5px 60px 30px;
        }


    }

    .input_box{


        resize: none;
        margin:auto;

        width:100%;
        height:20%;
        border:2px solid black;



    }
}