

.chat_list{

    list-style-type:none;
    height:100%;
    overflow:auto;

    li{

        height:100px;
        .chat_user_img{
            border-radius:90%;

            width:80px;
            height:80px;

            float:left;
            margin:0;
            padding:0;
        }

        p{
        }

        input{
            float:right;
            margin:auto;
        }
    }


}