.picture_box{
    height:220px;
}

.info_box{
    height:220px;
    text-align:center;
    padding-top:20px;
}
.user_img{

    width:220px;
    height:220px;
    border-radius:50%;
    object-fit: cover;

    display: block;
    margin-left: auto;
    margin-right: auto;
}

.map_img{
    width:220px;
    height:220px;

    display: block;
    margin-left: auto;
    margin-right: auto;
}





