li{
    height: 100px;
    font-size: 20px;
    float:left;
    .list_user_img{
        height:100%;
        width:auto;
        margin-left: 20px;
        margin-right:20px;
    }

    a{
        margin-left: 20px;
        margin-right:20px;   
    }

    button{
        margin-left: 20px;
        margin-right:20px; 
    }
}